// single element selectors, root tags and their pseudo-classes
// no classes or ids are allowed here

html, body, form { margin: 0; padding: 0; }
a {
  text-decoration: none;
  color:antiquewhite;
  &:hover {
    color:palevioletred;
    text-decoration: dotted;
  }
}
i {margin: 1%;}

nav {
  & ul {
    width: 100%;
    list-style: none;
    display: flex;
    & li {
      flex: 1 1 auto;
    }
  }
}

// typography
h1 {
  text-transform: uppercase;
  margin: auto;
}
