<header class="header">
  <mat-toolbar>
    <h1>Surf Store</h1>
    <nav>
      <ul>
        <a routerLink="/"><li mat-menu-item >Home</li></a>
        <li mat-menu-item [matMenuTriggerFor]="menu">Categorias</li>
        <mat-menu #menu="matMenu">
          <button *ngFor="let category of categories" mat-menu-item [routerLink]="['/produtos', category]">{{ category }}</button>
        </mat-menu>
      </ul>
    </nav>
    <span class="free-space"></span>
    <a routerLink="login">
      <i class="fa fa-user header-icon"></i>
    </a>
    <a routerLink="carrinho">
      <i [matBadge]="cartCount" matBadgeColor="warn" class="fa fa-cart-shopping header-icon"></i>
    </a>
  </mat-toolbar>
</header>
