<div class="cardlist row">
  <mat-card *ngFor="let item of productList" class="cardlist-item">
    <mat-card-content>
      <div class="cardlist-item-content" (click)="viewProductDetail(item.id)">
        <div class="cardlist-item-wrapper">
          <img class="cardlist-item-image" mat-card-image [src]="item.image" />
        </div>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        <p>{{ item.amount | currency }}</p>
      </div>
      <mat-card-actions>
          <button class="cardlist-item-button" mat-button (click)="addToCart(item.id)">Adicionar ao carrinho</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
