<div class="cartcontent row">
  <div class="cart-cardlist col">
    <mat-card class="cart-cardlist-item" *ngFor="let item of cartDescription, let index = index">
      <mat-card-content>
        <div class="cart-cardlist-item-content row">
          <div class="cart-cardlist-item-wrapper">
            <img class="cart-cardlist-item-image" mat-card-image [src]="item.product.images[0]" />
          </div>
          <div>
            <mat-card-title>{{ item.product.title }}</mat-card-title>
            <mat-card-subtitle>{{ item.product.description }}</mat-card-subtitle>
            <p>{{ item.product.price | currency }}</p>
            <p>Quantidade: <input type="text" [(ngModel)]="cartDescription[index].quantity" (blur)="this.updateLocalCart()">
          </div>
          <div>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="updateLocalCart(index)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cart-manager" *ngIf="this.cartDescription.length">
    <mat-form-field>
      <mat-label>Cupom de desconto</mat-label>
      <input matInput type="text" (change)="updateLocalCart()" [(ngModel)]="couponCode">
      <button *ngIf="couponCode" matSuffix mat-icon-button aria-label="Clear" (click)="couponCode=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <h2>Subtotal:</h2>
    <p>{{ cartAmounts.subTotal | currency }}</p>

    <h2>Desconto:</h2>
    <p>{{ cartAmounts.discount | currency }}</p>

    <h2> Total:</h2>
    <p>{{ cartAmounts.total | currency }}</p>

    <!--apply payment methods-->
    <div id="payment-methods">
      <p>cartão de crédito</p>
      <p>paypal</p>
      <p>pagseguro</p>
    </div>

    <button class="button" (click)="confirmCheckout()" disabled="cartAmounts.total == 0">Finalizar compra</button>
  </div>
  <div *ngIf="!this.cartDescription.length">
    <h2>Seu Carrinho está vazio</h2>
  </div>
</div>
