<h3> this is the cart</h3>
<mat-card *ngFor="let item of cartContent">
  <mat-card-content class="spread-card">
    <mat-icon (click)="removeFromCart(item.id)">close</mat-icon>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
    <p>{{ item.amount }}
  </mat-card-content>
</mat-card>

<mat-form-field>
  <mat-label>Cupom de desconto</mat-label>
  <input matInput type="text" (change)="applyDiscount()" [(ngModel)]="couponCode">
  <button *ngIf="couponCode" matSuffix mat-icon-button aria-label="Clear" (click)="couponCode=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<!-- adicionar campo de desconto mostrando o valor-->
<h3>Subtotal:</h3>
<p>{{ subTotalAmt | currency }}

<h3>desconto:</h3>
<p>{{ discountAmt | currency }}

<h3> Total:</h3>
<p>{{ totalAmt | currency }}
